<div id="bindingProductManual" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">포장 용품에 대해 궁금하신가요?</h4>
          </div>
          <div class="modal-body" style="white-space: pre-line; ">
            히어박스는 고객님의 편의를 위해 몇가지 포장 용품을 판매하고 있습니다.

1. 포장용 에어캡
흔히 ‘뽁뽁이’라고 불리우며 충격 완화의 효과가 있습니다. 충격에 민감한 물품이 있다면 포장용 에어캡으로 포장해주세요.

2. 실리카겔
세계에서 가장 많이 사용되는 방습제로 순수 이산화규소 99.9% 성분으로 이루어진 환경친화적인 물질입니다. 무색, 무취로 방습력이 매우 우수합니다. 습기에 취약한 물품이라면 실리카겔을 넣어 함께 보관해보세요.

3. 압축팩
이불, 옷 등을 압축하여 부피를 줄일 수 있어 효과적으로 보관할 수 있습니다.

4. 테이프
접착력이 좋은 테이프로 다양하게 활용할 수 있습니다.
          </div>
        </div>
    </div>
</div>