<div id="discountManual" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">할인 정책이 궁금하세요?</h4>
          </div>
          <div class="modal-body">
            <p>히어박스는 보관 기간에 따른 할인율을 적용하고 있습니다. (자동결제 제외)</p>
            <p>
                6 ~ 8개월 : 총 보관 비용의 5% 할인
                <br>9 ~ 11개월 : 총 보관 비용의 7% 할인
                <br>12개월 이상 : 총 보관 비용의 10% 할인
            </p>
              <p>
                  그 외에도 다양한 이벤트를 통해 할인 혜택을 받으실 수 있습니다.
                  <br><a style="color: #ffa000; cursor: pointer;" href="/event" target="_blank">진행 중인 이벤트 확인하기 ></a>
              </p>
          </div>
        </div>
    </div>
</div>