{% extends "base.html" %}
{% block content %}

    <div class="container" style="width: 960px;">
        <div style="display: table; float: left; width: 20%; font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #727272;">
            <div style="display: table-row;">
                일반
            </div>

            <div style="display: table-row;">
                가격 및 결제
            </div>

            <div style="display: table-row;">
                포장
            </div>

            <div style="display: table-row;">
                픽업 및 배송
            </div>
        </div>

        <div style="display: inline; float: right; width: 80%;">
            <div class="faq-section">
                일반
            </div>

            <div class="faq-title">서비스 지역은 어디인가요?</div>
            <div class="faq-title">서비스 시간은 언제인가요?</div>
            <div class="faq-title">어떻게 이용하나요? 이용 방법을 알려주세요!</div>
            <div class="faq-title">어떤 물품을 보관할 수 있나요?</div>
            <div class="faq-title">보관한 물품은 어디에 보관되나요?</div>
            <div class="faq-title">직접 창고로 방문할 수 있나요?</div>
            <div class="faq-title">보관한 물품의 안전은 어떻게 보장되나요?</div>
            <div class="faq-title">창고에는 어떤 보안 시스템이 갖춰져있나요?</div>
            <div class="faq-title">보관 물품에 대한 보상 시스템은 어떻게 되나요?</div>

            <div class="faq-section">
                가격 및 결제
            </div>

            <div class="faq-title">비용은 얼마인가요?</div>
            <div class="faq-title">결제 방법엔 무엇이 있나요?</div>
            <div class="faq-title">최소 보관기간이 있나요?</div>
            <div class="faq-title">보관비 환불 가능한가요?</div>
        </div>
    </div>

{% endblock %}