{% extends "base.html" %}
{% block content %}

    <div class="container" style="padding: 71px 30px 100px;">
        <span class="greetings">반갑습니다! {{ current_user.name }} 님</span>

        <div class="row my-index-menu">
            <div class="col-xs-4 text-center active">보관 중인 물품</div>
            <div class="col-xs-4 text-center">내 스케줄</div>
            <div class="col-xs-4 text-center">내 정보</div>
        </div>

        <div>
            {% block my_index_body %}
            {% endblock %}
        </div>
    </div>

{% endblock %}