{% extends "base.html" %}
{% block content %}

    <div class="container" style="width: 780px;">
        <div style="margin: 80px auto 100px auto; font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 16px; color: #000000;">
            <p style="color: #212121; font-size: 18px; font-family: 'Nanum Barun Gothic', sans-serif;">
               개인정보취급방침
            </p>

            <p>
                1. 개인정보의 취급 목적
            </p>

            <p>
                <히어박스>(‘www.herebox.kr’이하 ‘히어박스’) 은(는) 다음의 목적을 위하여 개인정보를 취급하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.
    - 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별.인증, 회원자격 유지.관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급.배송 등
            </p>

            <p>
                2. 개인정보의 취급 및 보유 기간
            </p>

            <p>
                ① <히어박스>(‘www.herebox.kr’이하 ‘히어박스’) 은(는) 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유․이용기간 또는 법령에 따른 개인정보 보유․이용기간 내에서 개인정보를 취급․보유합니다.
    <br>② 구체적인 개인정보 취급 및 보유 기간은 다음과 같습니다.
    - 고객 가입 및 관리 : 서비스 이용계약 또는 회원가입 해지시까지, 다만 채권․채무관계 잔존시에는 해당 채권․채무관계 정산시까지
    - 전자상거래에서의 계약․청약철회, 대금결제, 재화 등 공급기록 : 5년
    - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
    - 신용정보의 수집/취급 및 이용 등에 관한 기록 : 3년
            </p>

            <p>
                3. 개인정보의 제3자 제공
            </p>

            <p>
                <히어박스>(‘www.herebox.kr’이하 ‘히어박스’) 은(는) 정보주체의 별도 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조에 해당하는 경우 외에는 개인정보를 제3자에게 제공하지 않습니다.
            </p>

            <p>
                4. 개인정보취급 위탁
            </p>

            <p>
                ① <히어박스>('히어박스')은(는) 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 취급업무를 위탁하고 있습니다.
    <br>② <히어박스>('www.herebox.kr'이하 '히어박스')은(는) 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 취급금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 취급하는지를 감독하고 있습니다.
    <br>③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체 없이 본 개인정보 취급방침을 통하여 공개하도록 하겠습니다.
            </p>
        </div>
    </div>

{% endblock %}