{% extends "base.html" %}
{% block content %}

    <div class="container" style="width: 780px;">
        <div style="margin: 80px auto 100px auto; font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 16px; color: #000000;">
            <p style="color: #212121; font-size: 18px; font-family: 'Nanum Barun Gothic', sans-serif;">
               서비스 이용약관
            </p>

            <p style="margin: 30px 0 10px 0;">
                1. 박스에 들어갈 물품을 최대한 안전하게 포장해주세요.
            </p>

            <p>
                여러분의 소중한 물품을 에어캡과 신문지, 스티로폼 등의 완충재를 이용해 안전하게 포장하세요.
물품의 잘못된 포장으로 인해 발생하는 문제는 고객님께 책임이 있으므로 포장에 더욱 주의해주세요.
물건을 돌려 받으신 후에는 박스 수거를 위해 대기중인 매니저에게 물건의 이상 유무를 반드시 알려주셔야 하며 아울러 물건을 돌려 받으실 때 박스 외형과 잠금 장치에 문제가 없을 경우 히어박스는 내부 보관 물품에 문제가 없는 것으로 간주하여 별도의 책임을 지지 않습니다.
            </p>

            <p style="margin: 30px 0 10px 0;">
                2. 서비스 이용 요금 및 대금 결제 방법입니다.
            </p>

            <p>
                보관료는 계약 기간만큼 선납 하거나, 매 달 자동이체를 통해 납부할 수 있습니다.
<br>1) 서비스 이용 요금(1개월 기준)

<br><br>2) 서비스 이용 요금에 대한 할인 규정입니다.
이용요금 할인은 보관 기간에 따라 달라지며, 세부 내용은 다음과 같습니다.
<br>- 6개월 ~ 8개월 보관 : 총 보관비용의 5% 할인
<br>- 9개월 ~ 11개월 보관 : 총 보관비용의 7% 할인
<br>- 12개월 이상 보관 : 총 보관비용의 10% 할인
            </p>

            <p style="margin: 30px 0 10px 0;">
                3. 다음과 같은 물건은 보관할 수 없습니다.
            </p>

            <p>
                1) 깨지기 쉬운 모든 물건
<br>유리, 조각품, 보석, 노트북, 그릇 등 깨지기 쉬운 물건은 맡아드릴 수 없습니다. 이를 어긴 채 물품을 보관 하시다 발생하는 문제에 있어서 히어박스는 모든 법적 책임이 없음을 알려 드립니다.
소지하신 물품이 깨지기 쉬운 물건인지 구분하기 어려우시다면 고객센터로 문의하시기 바랍니다.
<br>2) 총기류, 폭발물, 가연성이 있는 모든 물건
<br>- 화약류, 연막탄, 폭죽, 뇌관, 가스, 기름, 라이터, 부탄가스, 페인트, 드라이아이스, 최루가스, 화학약품 등 위험성이 있는 물건은 금지합니다.
<br>3) 살아있는 모든 것, 이를 포함한 음식류
<br>- 과일, 고기, 채소, 치즈, 물, 곤충, 균류, 배양된 세균, 조리 중이거나 조리 된 음식류 일체
<br>4) 법적인 문제를 야기할 수 있는 불법적인 물건
<br>- 마약, 향정신성약품을 포함한 모든 약제류 일체, 혹은 약을 담고 있는 약봉지, 훔친 물건이나 무기류 등 가지고 있으면 체포될 수 있는 모든 물건
<br>5) 냄새가 나거나, 나중에 냄새를 발생시킬 수 있는 물품, 모든 액체류, 소음이 발생하는 물품, 배터리가 제거되지 않은 전자제품, 파열 및 팽창, 축소가 가능한 모든 물품
<br>6) 분쟁의 소지가 있는 고가의 귀중품 또는 의류
<br>7) 히어박스와의 협의 없이 택배 및 제3자에 의해 보관 요청이 접수 된 물품
<br>8) 드라이클리닝, 세탁 및 건조가 완료되지 않았거나 오염 부분이 있는 의류 및 직물류 일체
            </p>
        </div>
    </div>

{% endblock %}