{% extends "index_logged_in.html" %}
{% block my_index_body %}

    <div>
        <div>
            <div class="my-stuff-title">
                <span>히어박스 창고에 보관 중인 물품 ({{ packed_my_herebox_stuffs | length }})</span>
                <div class="btn-up">
                    <img src="{{ url_for('static', filename='assets/img/icon-btup.png') }}">
                </div>
            </div>

            <div class="my-stuff-content">
                {% if packed_my_herebox_stuffs | length == 0 %}
                    <div style="padding-top: 20px; text-align: center; font-family: 'Nanum Barun Gothic Light', 'sans-serif'; font-size: 14px;">
                        <img src="{{ url_for('static', filename='assets/img/img-box.png') }}"><br><br>
                        현재 보관 중인 물품이 없습니다<br>
                        지금 예약하고 공간을 더 넓게 활용하세요!<br><br>

                        <a href="/reservation/estimate" style="text-decoration: underline; cursor: pointer; color: #ffa000;">지금 예약하기 ></a>
                    </div>
                {% else %}
                    {% if packed_my_herebox_stuffs | length < 3 %}
                        <div class="my-stuff-items" style="margin-left: 10px;">
                    {% else %}
                        <div class="my-stuff-items">
                    {% endif %}
                        <div class="my-stuff-items-row">
                            {% for my_stuff in packed_my_herebox_stuffs %}
                                {% if loop.index % 3 == 1 %}
                                    </div>
                                    <div class="my-stuff-items-row">
                                {% endif %}

                                <div class="item">
                                    <div class="item-box">
                                        <img src="{{ url_for('static', filename='assets/img/img-box.png') }}">
                                        <h2>{{ my_stuff.name }}</h2>
                                        <p>
                                            관리번호: <span id="goodsId">{{ my_stuff.goods_id }}</span>
                                            <br>
                                            {% if my_stuff.fixed_rate == 0 %}
                                            보관기간: {{ my_stuff.created_at.strftime('%Y-%m-%d') }} ~ {{ my_stuff.expired_at }}
                                            {% else %}
                                            보관기간: {{ my_stuff.created_at.strftime('%Y-%m-%d') }} ~
                                            {% endif %}
                                            <br>
                                            {% if my_stuff.fixed_rate == 0 %}
                                            만료일까지 {{ my_stuff.remaining_day }}일 남았습니다
                                            {% else %}
                                            자동 결제 신청 물품입니다
                                            {% endif %}
                                            <br><br>
                                        </p>

                                        <p class="item-btn-group">
                                            {% if my_stuff.fixed_rate == 0 %}
                                                <button type="button" class="btn btn-hbprimary btn-delivery-single" style="padding: 12px 33px 12px 33px;">배송 요청</button>
                                                <button type="button" class="btn btn-hbsub btn-extend-single" style="padding: 12px 33px 12px 33px;">기간 연장</button>
                                            {% else %}
                                                <button type="button" class="btn btn-hbprimary btn-delivery-single" style="padding: 12px 33px 12px 33px;">배송 요청</button>
                                            {% endif %}
                                        </p>
                                    </div>

                                    <div class="checkbox my-herebox-stuff-checkbox">
                                        <label><input type="checkbox" name="{{ my_stuff.goods_id }}"></label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="my-stuff-btn-group">
                        <span>선택한 물품 모두</span>
                        <button id="btnDelivery" type="button" class="btn btn-hbprimary" style="padding: 12px 33px 12px 33px;">배송 요청</button>
                        <button id="btnExtend" type="button" class="btn btn-hbsub" style="padding: 12px 33px 12px 33px;">기간 연장</button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div>
            <div class="my-stuff-title" style="margin-top: 60px;">
                <span>내가 보관 중인 물품 ({{ packed_my_stuffs | length }})</span>
                <div class="btn-up">
                    <img src="{{ url_for('static', filename='assets/img/icon-btup.png') }}">
                </div>
            </div>

            <div class="my-stuff-content">
                {% if packed_my_stuffs | length == 0 %}
                    <div style="padding-top: 20px; text-align: center; margin-bottom: 100px; font-family: 'Nanum Barun Gothic Light', 'sans-serif'; font-size: 14px;">
                        <img src="{{ url_for('static', filename='assets/img/img-box.png') }}"><br><br>
                        현재 보관 중인 물품이 없습니다
                    </div>
                {% else %}
                    {% if packed_my_stuffs | length < 3 %}
                        <div class="my-stuff-items" style="margin-left: 10px;">
                    {% else %}
                        <div class="my-stuff-items">
                    {% endif %}
                        <div class="my-stuff-items-row">
                        {% for my_stuff in packed_my_stuffs %}
                            {% if loop.index % 3 == 1 %}
                                </div>
                                <div class="my-stuff-items-row">
                            {% endif %}

                            <div class="item">
                                <div class="item-box">
                                    <img src="{{ url_for('static', filename='assets/img/img-box.png') }}">
                                    <h2>{{ my_stuff.name }}</h2>
                                    <p>
                                        관리번호: <span id="goodsId">{{ my_stuff.goods_id }}</span>
                                        <br>
                                        {% if my_stuff.fixed_rate == 0 %}
                                        보관기간: {{ my_stuff.created_at.strftime('%Y-%m-%d') }} ~ {{ my_stuff.expired_at }}
                                        {% else %}
                                        보관기간: {{ my_stuff.created_at.strftime('%Y-%m-%d') }} ~
                                        {% endif %}
                                        <br>
                                        {% if my_stuff.fixed_rate == 0 %}
                                        만료일까지 {{ my_stuff.remaining_day }}일 남았습니다
                                        {% else %}
                                        자동 결제 신청 물품입니다
                                        {% endif %}
                                        <br><br>
                                    </p>

                                    <p class="item-btn-group">
                                        <button type="button" class="btn btn-hbprimary btn-pickup-single" style="padding: 12px 33px 12px 33px;">픽업 요청</button>
                                    </p>
                                </div>

                                <div class="checkbox my-herebox-stuff-checkbox">
                                    <label><input type="checkbox" name="{{ my_stuff.goods_id }}"></label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="my-stuff-btn-group">
                    <span>선택한 물품 모두</span>
                    <button type="button" id="btnPickup" class="btn btn-hbprimary" style="padding: 12px 33px 12px 33px;">픽업 요청</button>
                </div>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block jscript %}
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/my_stuff.js') }}"></script>
{% endblock %}