{% extends "index_logged_in.html" %}
{% block my_index_body %}

    <div>
        <div class="my-stuff-title">
            <span>히어박스 창고에 보관 중인 물품 (3)</span>
        </div>
        <div class="my-stuff-items">
            <div class="my-stuff-items-row">
                <div class="item">
                    <div class="item-box">
                        <img src="{{ url_for('static', filename='assets/img/img-box.png') }}">
                        <h2>아버지 캠핑 용품</h2>
                        <p>
                            관리번호: B1603280026
                            <br>
                            보관기간 2016.03.28 ~ 2016.06.27
                            <br>
                            만료일까지 17일 남았습니다
                            <br><br>
                        </p>

                        <p class="item-btn-group">
                            <button type="button" class="btn btn-hbprimary" style="padding: 12px 33px 12px 33px;">배송 요청</button>
                            <button type="button" class="btn btn-hbsub" style="padding: 12px 33px 12px 33px;">기간 연장</button>
                        </p>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </div>



                <div class="item">
                    <div class="item-box">
                        <img src="{{ url_for('static', filename='assets/img/img-box.png') }}">
                        <h2>아버지 캠핑 용품</h2>
                        <p>
                            관리번호: B1603280026
                            <br>
                            보관기간 2016.03.28 ~ 2016.06.27
                            <br>
                            만료일까지 17일 남았습니다
                            <br><br>
                        </p>

                        <p class="item-btn-group">
                            <button type="button" class="btn btn-hbprimary" style="padding: 12px 33px 12px 33px;">배송 요청</button>
                            <button type="button" class="btn btn-hbsub" style="padding: 12px 33px 12px 33px;">기간 연장</button>
                        </p>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </div>
                <div class="item">
                    <div class="item-box">
                        <img src="{{ url_for('static', filename='assets/img/img-box.png') }}">
                        <h2>아버지 캠핑 용품</h2>
                        <p>
                            관리번호: B1603280026
                            <br>
                            보관기간 2016.03.28 ~ 2016.06.27
                            <br>
                            만료일까지 17일 남았습니다
                            <br><br>
                        </p>

                        <p class="item-btn-group">
                            <button type="button" class="btn btn-hbprimary" style="padding: 12px 33px 12px 33px;">배송 요청</button>
                            <button type="button" class="btn btn-hbsub" style="padding: 12px 33px 12px 33px;">기간 연장</button>
                        </p>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </div>
            </div>

            <div class="my-stuff-items-row">
                <div class="item">
                    <div class="item-box">
                        <img src="{{ url_for('static', filename='assets/img/img-box.png') }}">
                        <h2>아버지 캠핑 용품</h2>
                        <p>
                            관리번호: B1603280026
                            <br>
                            보관기간 2016.03.28 ~ 2016.06.27
                            <br>
                            만료일까지 17일 남았습니다
                            <br><br>
                        </p>

                        <p class="item-btn-group">
                            <button type="button" class="btn btn-hbprimary" style="padding: 12px 33px 12px 33px;">배송 요청</button>
                            <button type="button" class="btn btn-hbsub" style="padding: 12px 33px 12px 33px;">기간 연장</button>
                        </p>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-stuff-btn-group">
            <span>선택한 물품 모두</span>
            <button type="button" class="btn btn-hbprimary" style="padding: 12px 33px 12px 33px;">배송 요청</button>
            <button type="button" class="btn btn-hbsub" style="padding: 12px 33px 12px 33px;">기간 연장</button>
        </div>
    </div>

    <div>
        <div class="my-stuff-title">
            <span>내가 보관 중인 물품 (2)</span>
        </div>
        <div class="my-stuff-items">
        </div>
        <div class="my-stuff-btn-group">
            <span>선택한 물품 모두</span>
            <button type="button" class="btn btn-hbprimary" style="padding: 12px 33px 12px 33px;">배송 요청</button>
            <button type="button" class="btn btn-hbsub" style="padding: 12px 33px 12px 33px;">기간 연장</button>
        </div>
    </div>

{% endblock %}