{% extends "index_logged_in.html" %}
{% block my_index_body %}


    <div class="my-schedule">
        <div class="my-schedule-title">픽업 스케줄 ({{ packed_my_pickup|length }})</div>
        <div class="my-schedule-table">
            <div class="my-schedule-table-row field">
                <div class="my-schedule-table-cell">주문번호</div>
                <div class="my-schedule-table-cell">예약시간</div>
                <div class="my-schedule-table-cell">유형</div>
                <div class="my-schedule-table-cell">담당자</div>
                <div class="my-schedule-table-cell">결제</div>
                <div class="my-schedule-table-cell">접수</div>
                <div class="my-schedule-table-cell">취소</div>
            </div>

            {% for my_schedule in packed_my_pickup %}
                <div class="my-schedule-table-row content">
                    <div class="my-schedule-table-cell">{{ my_schedule.reservation.reservation_id }}</div>
                    <div class="my-schedule-table-cell">{{ my_schedule.schedule_date.strftime('%Y-%m-%d') }}  {{ my_schedule.schedule_time.start_time.strftime('%H:%M') }}-{{ my_schedule.schedule_time.end_time.strftime('%H:%M') }}</div>
                    <div class="my-schedule-table-cell">{% if my_schedule.reservation.reservation_type == 'new_reservation' %}신규
                        {% elif my_schedule.reservation.reservation_type == 'restore_reservation' %}재보관
                        {% endif %}</div>
                    <div class="my-schedule-table-cell">{{ my_schedule.staff[0].name }}</div>
                    <div class="my-schedule-table-cell">{% if my_schedule.reservation.pay_type == 0 %}카드
                        {% elif my_schedule.reservation.pay_type == 1 %}현장
                        {% elif my_schedule.reservation.pay_type == 2 %}휴대폰
                        {% elif my_schedule.reservation.pay_type == 3 %}카카오페이
                        {% endif %}</div>
                    <div class="my-schedule-table-cell">{% if my_schedule.status == 0 %}대기
                        {% elif my_schedule.status == 1 %}완료
                        {% elif my_schedule.status == 2 %}취소
                        {% endif %}</div>
                    <div class="my-schedule-table-cell">취소</div>
                </div>
            {% endfor %}

        </div>
        <p class="my-schedule-warning">
            * 주문번호를 누르시면 자세한 내용을 확인할 수 있습니다<br>
            * 유형 : 신규 (새로운 물품을 보관하는 경우) / 재보관 (보관 중이던 물품을 찾았다가 다시 보관하는 경우)<br>
            * 결제 : 대기 (결제가 완료되기 전 상태) / 완료 (결제가 완료된 상태) / 현장 (현장에서 결제 예정인 상태)<br>
            * 예약한 스케줄이 불가능할 경우 최소 2일 전에는 취소해주시기 바랍니다
        </p>
    </div>

    <div class="my-schedule">
        <div class="my-schedule-title">배송 스케줄 ({{ packed_my_delivery|length }})</div>
        <div class="my-schedule-table">
            <div class="my-schedule-table-row field">
                <div class="my-schedule-table-cell">주문번호</div>
                <div class="my-schedule-table-cell">예약시간</div>
                <div class="my-schedule-table-cell">유형</div>
                <div class="my-schedule-table-cell">담당자</div>
                <div class="my-schedule-table-cell">결제</div>
                <div class="my-schedule-table-cell">접수</div>
                <div class="my-schedule-table-cell">취소</div>
            </div>

            {% for my_schedule in packed_my_delivery %}
                <div class="my-schedule-table-row content">
                    <div class="my-schedule-table-cell">{{ my_schedule.reservation.reservation_id }}</div>
                    <div class="my-schedule-table-cell">{{ my_schedule.schedule_date.strftime('%Y-%m-%d') }} {{ my_schedule.schedule_time.start_time.strftime('%H:%M') }}-{{ my_schedule.schedule_time.end_time.strftime('%H:%M') }}</div>
                    <div class="my-schedule-table-cell">{% if my_schedule.reservation.delivery_option == '0' %}재보관 가능
                        {% elif my_schedule.reservation.delivery_option == '1' %}보관 종료
                        {% endif %}</div>
                    <div class="my-schedule-table-cell">{{ my_schedule.staff.name }}</div>
                    <div class="my-schedule-table-cell">{% if my_schedule.reservation.pay_type == 0 %}카드
                        {% elif my_schedule.reservation.pay_type == 1 %}현장
                        {% elif my_schedule.reservation.pay_type == 2 %}휴대폰
                        {% elif my_schedule.reservation.pay_type == 3 %}카카오페이
                        {% endif %}</div>
                    <div class="my-schedule-table-cell">{% if my_schedule.status == 0 %}대기
                        {% elif my_schedule.status == 1 %}완료
                        {% elif my_schedule.status == 2 %}취소
                        {% endif %}</div>
                    <div class="my-schedule-table-cell">취소</div>
                </div>
            {% endfor %}
        </div>
        <p class="my-schedule-warning">
            * 주문번호를 누르시면 자세한 내용을 확인할 수 있습니다<br>
            * 유형 : 재보관 가능 (재보관이 가능하게 배송하는 경우) / 보관 종료 (보관을 완전히 종료하는 경우)<br>
            * 결제 : 대기 (결제가 완료되기 전 상태) / 완료 (결제가 완료된 상태) / 현장 (현장에서 결제 예정인 상태)<br>
            * 예약한 스케줄이 불가능할 경우 최소 2일 전에는 취소해주시기 바랍니다
        </p>
    </div>


{% endblock %}