{% extends "base.html" %}
{% block content %}

    <div class="container" style="width: 740px;">

        <div style="margin: 40px 0 40px; text-align: center;">
            <img src="{{ url_for('static', filename='assets/img/5step_2.png') }}">
        </div>

        <div class="row" style="margin-top: 80px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/icon-phone.png') }}">
                <div style="margin-left: 16px; display: inline-block; vertical-align: top;">
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #212121;">핸드폰 번호</div>
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 14px; color: #212121;">
                        보관한 물품을 찾으실 때 필요하므로 정확하게<br>
                        입력해주세요
                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="margin-top: 10px;">
                <input type="text" class="form-control" id="inputPromotion" placeholder="‘-‘ 없이 핸드폰 번호를 입력하세요">
            </div>
        </div>

        <div class="row" style="margin-top: 80px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/icon-address.png') }}">
                <div style="margin-left: 16px; display: inline-block; vertical-align: top;">
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #212121;">주소</div>
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 14px; color: #212121;">
                        픽업맨이 방문할 주소를 입력해주세요<br>
                        *현재 서울시만 서비스 가능
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="inputPromotion" placeholder="주소를 입력하세요">
                <input style="margin-top: 20px;" type="text" class="form-control" id="inputPromotion" placeholder="상세 주소를 입력하세요">
            </div>
        </div>


        <div class="row" style="margin-top: 80px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/icon-calendar.png') }}">
                <div style="margin-left: 16px; display: inline-block; vertical-align: top;">
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #212121;">방문일시</div>
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 14px; color: #212121;">
                        방문을 희망하는 날짜와 시간을 선택해주세요<br>
                        (월요일-일요일, 10am-10pm, 공휴일 휴무)<br>
                        * 희망 날짜 1일 전 17시까지 신청
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="inputPromotion" placeholder="날짜를 선택하세요 (2주 이내)">
                <input style="margin-top: 20px;" type="text" class="form-control" id="inputPromotion" placeholder="시간을 선택하세요">
            </div>
        </div>

        <div class="row" style="margin-top: 80px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/icon-truck.png') }}">
                <div style="margin-left: 16px; display: inline-block; vertical-align: top;">
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #212121;">픽업 준비</div>
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 14px; color: #212121;">
                        보관하실 물품을 정리하여 픽업맨에게 전달하려<br>
                        면 시간이 얼마나 필요하신가요?
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="radio" style="float:left; display:inline-block;">
                    <label style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #212121;">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        바로 가능
                        <p class="estimate-month-item-desc">
                            픽업맨 방문 후 30분 내 준비가 가능할 경우
                        </p>
                    </label>
                </div>
                <div class="radio" style="float:left; display:inline-block;">
                    <label style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #212121;">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        재방문 신청
                        <p class="estimate-month-item-desc">
                            재방문 날짜를 선택하면 픽업맨이 다시 방문
                        </p>
                    </label>
                </div>
                <input type="text" class="form-control" id="inputPromotion" placeholder="재방문 날짜를 선택하세요 (1주 이내)">
                <input style="margin-top: 10px;" type="text" class="form-control" id="inputPromotion" placeholder="재방문 시간을 선택하세요">
            </div>
        </div>

        <div class="row" style="margin-top: 80px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/icon-memo.png') }}">
                <div style="margin-left: 16px; display: inline-block; vertical-align: top;">
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #212121;">남기실 말씀</div>
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 14px; color: #212121;">
                        히어박스에 남기실 말씀을 적어주세요<br>
                        * 핸드폰 번호와 연락받을 연락처가 다를 경우 입<br>
                        력해주세요
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <textarea class="form-control" rows="6" placeholder="ex) 도착해서 전화주세요"></textarea>
            </div>
        </div>

        <div style="margin: 80px 0 100px 0; text-align: center;">
            <button class="btn btn-hbprimary" onclick="window.location='/reservation/review';">다음 단계</button>
            <button class="btn btn-hbsub"  style="margin-top: 20px;" onclick="window.location='/reservation/estimate';">이전 단계</button>
        </div>
    </div>

{% endblock %}