{% extends "base.html" %}
{% block content %}

    <div class="container" style="width: 740px;">
        <div style="margin: 40px 0 40px; text-align: center;">
            <img src="{{ url_for('static', filename='assets/img/5step_4.png') }}">
        </div>

        <div class="row" style="margin-top: 90px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/icon-pay.png') }}">
                <div style="margin-left: 16px; display: inline-block; vertical-align: top;">
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #212121;">결제 방법</div>
                    <div style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 14px; color: #212121;">
                        원하시는 결제 방법을 선택하세요
                    </div>
                </div>
            </div>

            <div class="col-xs-6" style="font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 20px; color: #212121;">
                <div style="float: right;">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsPayType" id="optionsVisit" value="visit" checked>
                            직원 방문 시 결제 (현금/카드)
                        </label>
                    </div>

                    <div class="radio" style="margin-top: 30px;">
                        <label>
                            <input type="radio" name="optionsPayType" id="optionsCard" value="card">
                            신용/체크 카드
                        </label>
                    </div>

                    <div class="radio" style="margin-top: 30px;">
                        <label>
                            <input type="radio" name="optionsPayType" id="optionsPhone" value="phone">
                            핸드폰
                        </label>
                    </div>

                    <div class="radio" style="margin-top: 30px;">
                        <label>
                            <input type="radio" name="optionsPayType" id="optionsKakao" value="kakao">
                            카카오페이
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin: 80px 0 100px 0; text-align: center;">
            <button id="btnNextStep" class="btn btn-hbprimary">다음 단계</button>
            <button id="btnPrevStep" class="btn btn-hbsub" style="margin-top: 20px;">이전 단계</button>
        </div>
    </div>

{% endblock %}
{% block jscript %}

    <script src="{{ url_for('static', filename='libs/js-cookie/src/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/herebox.js') }}"></script>

    <script>
        var allowUnload = false;
        $(document).ready(function() {
            allowUnload = false;

            $(window).on('beforeunload', function() {
                if (allowUnload) {
                    return ;
                } else {
                    return '현재 입력된 항목들이 지워집니다! 정말 예약을 취소하시겠습니까?';
                }
            });
            $(window).on('unload', function() {
                if (!allowUnload) {
                    purchaseCookieClear();
                }
            });

            $('#btnPrevStep').click(function() {
                allowUnload = true;
                location.href = "/reservation/review";
            });

            $('#btnNextStep').click(function() {
                allowUnload = true;
                $.ajax({
                     type: "POST",
                     url: "/reservation/payment",
                     data: {optionsPayType: $(":radio[name='optionsPayType']:checked").val()
                     },
                     success: function () {
                        location.href = '/reservation/completion';
                     },
                     error: function(request, status, error) {
                        var parsedBody = $.parseJSON(request.responseText);
                        alert(parsedBody['message']);
                     }
                });
            });
        });

        $(window).load(function() {
            var totalPrice = Cookies.get('totalPrice');
            if (totalPrice) {
                return ;
            }

            purchaseCookieClear();
            allowUnload = true;
            location.href = '/reservation/estimate';
        });
    </script>
{% endblock %}