{% extends "mobile/base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resource/common/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resource/common/css/iubase.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resource/common/css/iu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resource/css/pages/faq_mobile.css') }}">

    <!--[if lt IE 9]>
      <script type="text/javascript" src="{{ url_for('static', filename='resource/common/ie/json2.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='resource/common/ie/jquery.backgroundSize.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='resource/common/ie/respond.min.js') }}"></script>
      <script>alert("인터넷 익스플로러 9이하에서는 브라우저 업데이트를 권장합니다.");</script>
    <![endif]-->
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 90px;">
        <div class="Section IUSection IUBox">
          <div class="CenterBox_12 IUCenterBox IUBox">
            <div class="Box_24 IUBox">
              <div class="Text_25 IUText IUBox" scrollLink="1">
                <a class='_IULink' href="/index.html#Box">
                  <p>일반</p>
                </a>
              </div>
              <div class="Text_26 IUText IUBox" scrollLink="1">
                <a class='_IULink' href="/index.html#Text_141">
                  <p>가격 및 결제</p>
                </a>
              </div>
              <div class="Text_27 IUText IUBox" scrollLink="1">
                <a class='_IULink' href="/index.html#Text_203">
                  <p>포장</p>
                </a>
              </div>
              <div class="Text_28 IUText IUBox" scrollLink="1">
                <a class='_IULink' href="/index.html#Text_285">
                  <p>픽업 및 배송</p>
                </a>
              </div>
            </div>
            <div id="Box" class="Box IUBox">
              <div class="Text_23 IUText IUBox">
                <p>일반</p>
              </div>
            </div>
            <div class="Collapsible IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem IUCollapsibleHeaderItem IUBox">
                  <div class="Text_17 IUText IUBox">
                    <p>서비스 지역은 어디인가요?</p>
                  </div>
                  <div class="Image IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_17 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_18 IUText IUBox">
                    <p>서비스 지역은 어디인가요?</p>
                  </div>
                  <div class="Image_21 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent IUCollapsibleContent IUBox">
                <div class="Text_19 IUText IUBox">
                  <p>히어박스는 서비스 품질 관리를 위해 현재 서울시를 대상으로만 서비스하고 있습니다.</p>
                <p>단계 별로 지역을 확장해 나갈 예정이며 희망하는 지역을 신청해주시면 지역 확장 시 우선 고려하겠습니다.</p>
                <p>&nbsp;</p>
                <p><span style="color: #ffc107; cursor: pointer;" onclick="$('#requestArea').modal('show')">우리 동네 신청하기 &nbsp; &gt;</span></p>
                </div>
              </div>
            </div>
            <div class="Collapsible_35 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_35 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_35 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_35 IUText IUBox">
                    <p>히어박스의 이용 방법이 궁금해요.</p>
                  </div>
                  <div class="Image_35 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_36 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_36 IUText IUBox">
                    <p>히어박스의 이용 방법이 궁금해요.</p>
                  </div>
                  <div class="Image_36 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_35 IUCollapsibleContent IUBox">
                <div class="Text_38 IUText IUBox">
                  <p>히어박스의 이용절차는 간단합니다.</p>
                <p><br />1. 히어박스와 픽업 스케줄을 잡으세요. 픽업 일자, 장소, 필요한 박스 수를 신청하시면, 고객님의 문 앞까지 찾아가겠습니다.</p>
                <p>&nbsp;</p>
                <p>2. 받으신 박스에 물품을 포장해 주세요. 히어박스 매니저는 고객님의 포장이 완료될 때까지</p>
                <p>30분간 대기할 것입니다. 포장이 완료 되었다면 히어박스 매니저에게 물품을 건네주세요.</p>
                <p>시간이 부족하실 것 같으신가요?</p>
                <p>픽업 스케줄을 잡을 때 재방문으로 신청하시면 히어박스 매니저가 박스를 전달하고, 다시</p>
                <p>1주 이내에 재방문하여 박스를 픽업할 것입니다.</p>
                <p>&nbsp;</p>
                <p>3. 히어박스 페이지에서 자신의 보관 물품을 확인하세요.</p>
                <p>&nbsp;</p>
                <p>4. 물품이 다시 필요하시면 원하시는 날짜, 장소로 배송신청을 해주세요. 처음 맡긴 상태 그대로 문 앞까지 배송해 드리겠습니다.</p>
                <p>&nbsp;</p>
                <p><strong><a href="../../../../../../reservation/estimate"><span style="color: #ffc107;">지금 예약하기 &nbsp; &gt;</span></a></strong></p>
                </div>
              </div>
            </div>
            <div class="Collapsible_45 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_45 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_45 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_45 IUText IUBox">
                    <p>서비스 운영시간은 어떻게 되나요?</p>
                  </div>
                  <div class="Image_45 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_46 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_48 IUText IUBox">
                    <p>서비스 운영시간은 어떻게 되나요?</p>
                  </div>
                  <div class="Image_46 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_45 IUCollapsibleContent IUBox">
                <div class="Text_46 IUText IUBox">
                  <p>픽업 및 배송 서비스 운영시간</p>
                <p>월요일 ~ 일요일, 10AM ~ 10PM (공휴일 휴무)</p>
                <p><br />고객센터 운영시간</p>
                <p>월요일 ~ 금요일, 10AM ~ 6PM (점심시간 1PM ~ 2PM, 공휴일 휴무)</p>
                <p>&nbsp;</p>
                <p>운영시간 외에는 contact@herebox.kr 혹은 카카오톡 &lsquo;히어박스&rsquo;로 문의 주시면, 최대한 빠르게 답변 드리겠습니다.</p>
                <p>&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_55 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_55 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_55 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_55 IUText IUBox">
                    <p>물품은 어떻게 보관하나요?</p>
                  </div>
                  <div class="Image_55 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_56 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_58 IUText IUBox">
                    <p>물품은 어떻게 보관하나요?</p>
                  </div>
                  <div class="Image_56 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_55 IUCollapsibleContent IUBox">
                <div class="Text_56 IUText IUBox">
                  <p>고객님께서 맡겨주신 소중한 물품은 히어박스 창고에서 안전하게 보관합니다.</p>
                <p>24시간 CCTV 감시 녹화, 야간 모션감지기를 갖춘 창고에서 안전하게 보관하며, 고객님의 물품 변질을 방지하기 위해 온습도 조절장치를 갖추고 있습니다.</p>
                <p>뿐만 아니라 예기치 못한 사고에 대비하여 보관하신 물품에 대한 책임보상제도를 운영하고 있습니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_65 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_65 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_65 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_65 IUText IUBox">
                    <p>창고에 직접 찾아갈 수 있나요?</p>
                  </div>
                  <div class="Image_65 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_66 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_66 IUText IUBox">
                    <p>창고에 직접 찾아갈 수 있나요?</p>
                  </div>
                  <div class="Image_66 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_65 IUCollapsibleContent IUBox">
                <div class="Text_68 IUText IUBox">
                  <p>히어박스 창고는 보안상의 이유로 직원 외 출입을 엄격히 통제하고 있으며, 직원 또한 업무상의 목적으로만 출입하고 있습니다. 고객의 창고 방문이 어려운 점 양해해주시기 바랍니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_75 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_75 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_75 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_75 IUText IUBox">
                    <p>창고의 보안 시스템은 어떻게 되나요?</p>
                  </div>
                  <div class="Image_75 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_76 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_76 IUText IUBox">
                    <p>창고의 보안 시스템은 어떻게 되나요?</p>
                  </div>
                  <div class="Image_76 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_75 IUCollapsibleContent IUBox">
                <div class="Text_78 IUText IUBox">
                  <p>히어박스 창고는 직원 외 출입을 엄격히 통제하고 있으며 24시간 CCTV 녹화, 야간모션감지 카메라와 온습도 조절 및 화재 예방용 스프링쿨러 시스템을 갖추고 있습니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_85 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_85 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_85 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_85 IUText IUBox">
                    <p>보관하는 물품에 대한 파손 및 변질 시 보상이 가능한가요?</p>
                  </div>
                  <div class="Image_85 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_86 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_86 IUText IUBox">
                    <p>보관하는 물품에 대한 파손 및 변질 시 보상이 가능한가요?</p>
                  </div>
                  <div class="Image_86 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_85 IUCollapsibleContent IUBox">
                <div class="Text_88 IUText IUBox">
                  <p>보관중인 물품의 파손 및 변질 시 히어박스 책임보상제도에 따라 보상해 드립니다.</p>
                <p>자세한 내용은 홈페이지 내 이용약관에서 확인하실 수 있습니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_95 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_95 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_95 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_95 IUText IUBox">
                    <p>히어박스의 규격박스가 궁금해요.</p>
                  <p>(크기, 용량 등)</p>
                  </div>
                  <div class="Image_95 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_96 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_96 IUText IUBox">
                    <p>히어박스의 규격박스가 궁금해요.</p>
                  <p>(크기, 용량 등)</p>
                  </div>
                  <div class="Image_96 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_95 IUCollapsibleContent IUBox">
                <div class="Image_99 IUBox">
                </div>
                <div class="Text_98 IUText IUBox">
                  <p>히어박스의 규격박스는 엄격한 품질검사를 통과한 제품으로, 믿을 수 있는 협력사로부터 공급받고 있습니다.</p>
                <p>&nbsp;</p>
                <p>박스 규격 : 60cm X 40cm X 37cm (가로 X 세로 X 높이)</p>
                <p>적재 하중 : 최대 30Kg까지 보관하실 수 있습니다.</p>
                <p><br />또한 각각의 박스는 고유의 번호를 부여하여 관리하며, 잠금장치를 통해 보호됩니다.</p>
                <p>&nbsp;</p>
                <p style="color: #ffc107; cursor: pointer;"><span onclick="$('#boxSize').modal('show')">박스 크기 영상으로 보기 &nbsp; &gt;</span></p>
                </div>
              </div>
            </div>
            <div class="Collapsible_106 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_106 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_106 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_106 IUText IUBox">
                    <p>박스엔 어떤 물품을 보관할 수 있나요?</p>
                  </div>
                  <div class="Image_106 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_107 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_107 IUText IUBox">
                    <p>박스엔 어떤 물품을 보관할 수 있나요?</p>
                  </div>
                  <div class="Image_107 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_106 IUCollapsibleContent IUBox">
                <div class="Text_109 IUText IUBox">
                  <p>보관이 필요한 물품은 어떤 것이든 가능하나 다음에 해당하는 물품은 보관하실 수 없습니다.</p>
                <p><br />1) 깨지기 쉬운 모든 물건</p>
                <p>유리, 조각품, 보석, 노트북, 그릇 등 깨지기 쉬운 물건은 맡아드릴 수 없습니다. 이를 어긴 채 물품을 보관 하시다 발생하는 문제에 있어서 히어박스는 모든 법적 책임이 없음을 알려 드립니다.</p>
                <p>소지하신 물품이 깨지기 쉬운 물건인지 구분하기 어려우시다면 고객센터로 문의하시기 바랍니다.</p>
                <p>2) 총기류, 폭발물, 가연성이 있는 모든 물건</p>
                <p>- 화약류, 연막탄, 폭죽, 뇌관, 가스, 기름, 라이터, 부탄가스, 페인트, 드라이아이스, 최루가스, 화학약품 등 위험성이 있는 물건은 금지합니다.</p>
                <p>3) 살아있는 모든 것, 이를 포함한 음식류</p>
                <p>- 과일, 고기, 채소, 치즈, 물, 곤충, 균류, 배양된 세균, 조리 중이거나 조리 된 음식류 일체</p>
                <p>4) 법적인 문제를 야기할 수 있는 불법적인 물건</p>
                <p>- 마약, 향정신성약품을 포함한 모든 약제류 일체, 혹은 약을 담고 있는 약봉지, 훔친 물건이나 무기류 등 가지고 있으면 체포될 수 있는 모든 물건</p>
                <p>5) 냄새가 나거나, 나중에 냄새를 발생시킬 수 있는 물품, 모든 액체류, 소음이 발생하는 물품, 배터리가 제거되지 않은 전자제품, 파열 및 팽창, 축소가 가능한 모든 물품</p>
                <p>6) 분쟁의 소지가 있는 고가의 귀중품 또는 의류</p>
                <p>7) 히어박스와의 협의 없이 택배 및 제3자에 의해 보관 요청이 접수 된 물품</p>
                <p>8) 드라이클리닝, 세탁 및 건조가 완료되지 않았거나 오염 부분이 있는 의류 및 직물류 일체</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_117 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_117 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_117 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_117 IUText IUBox">
                    <p>규격박스에 들어가지 않는 물품도 보관할 수 있나요?</p>
                  </div>
                  <div class="Image_117 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_118 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_118 IUText IUBox">
                    <p>규격박스에 들어가지 않는 물품도 보관할 수 있나요?</p>
                  </div>
                  <div class="Image_118 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_117 IUCollapsibleContent IUBox">
                <div class="Text_120 IUText IUBox">
                  <p>물론 가능합니다.</p>
                <p>규격박스에 들어가지 않는 물품은 비규격 물품으로 분류하여 보관해 드리고 있습니다.</p>
                <p>단, 비규격 물품의 조건은 히어박스 매니저 1명이 옮길 수 있는 부피와 무게를 가진 물품이어야 합니다.</p>
                <p>이에 맞지 않은 조건의 물품을 보관하고 싶으시다면 고객센터로 문의 주시기 바랍니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_126 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_126 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_126 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_126 IUText IUBox">
                    <p>보관 중인 박스를 열어보나요?</p>
                  </div>
                  <div class="Image_126 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_127 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_127 IUText IUBox">
                    <p>보관 중인 박스를 열어보나요?</p>
                  </div>
                  <div class="Image_127 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_126 IUCollapsibleContent IUBox">
                <div class="Text_129 IUText IUBox">
                  <p>고객님이 물품 보관을 시작하고 다시 되찾는 시점까지 어느 누구도 박스를 열어볼 수 없습니다.</p>
                <p>또한 박스의 잠금 장치를 통해 박스가 열리지 않았음을 직접 확인하실 수 있습니다.(규격박스)</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_136 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_136 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_136 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_136 IUText IUBox">
                    <p>할인혜택은 없나요?</p>
                  </div>
                  <div class="Image_136 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_137 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_137 IUText IUBox">
                    <p>할인혜택은 없나요?</p>
                  </div>
                  <div class="Image_137 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_136 IUCollapsibleContent IUBox">
                <div class="Text_139 IUText IUBox">
                  <p>현재 히어박스에는 장기고객 우대 할인 서비스가 제공되고 있습니다.</p>
                <p>(기간 설정 보관 시 할인 / 매 달 자동결제는 해당 안됨)</p>
                <p><br />- 6개월 ~ 8개월 보관 : 총 보관비용의 5% 할인</p>
                <p>- 9개월 ~ 11개월 보관 : 총 보관비용의 7% 할인</p>
                <p>- 12개월 이상 보관 : 총 보관비용의 10% 할인</p>
                </div>
              </div>
            </div>
            <div id="Box_141" class="Box_141 IUBox">
              <div id="Text_141" class="Text_141 IUText IUBox">
                <p>가격 및 결제</p>
              </div>
            </div>
            <div class="Collapsible_148 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_148 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_148 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_148 IUText IUBox">
                    <p>비용은 어떻게 되나요?</p>
                  </div>
                  <div class="Image_148 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_149 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_151 IUText IUBox">
                    <p>비용은 어떻게 되나요?</p>
                  </div>
                  <div class="Image_149 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_148 IUCollapsibleContent IUBox">
                <div class="Text_149 IUText IUBox">
                  <p>이용 요금은 다음과 같습니다.</p>
                <p>&nbsp;</p>
                <p>박스 보관료 : 월 7,500원 / 1개</p>
                <p>비규격 보관료 : 월 9,900원 / 1개</p>
                <p>픽업비 : 무료</p>
                <p>재 픽업비 : 2,000원 / 1개</p>
                <p>배송비 : 2,000원 / 1개</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_158 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_158 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_158 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_158 IUText IUBox">
                    <p>보관 기간, 보관 상자 수에 제한이 있나요?</p>
                  </div>
                  <div class="Image_158 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_159 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_159 IUText IUBox">
                    <p>보관 기간, 보관 상자 수에 제한이 있나요?</p>
                  </div>
                  <div class="Image_159 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_158 IUCollapsibleContent IUBox">
                <div class="Text_161 IUText IUBox">
                  <p>히어박스 이용에 있어 아무런 제한이 없습니다.</p>
                <p>1개의 상자를 1개월만 보관하신다 하더라도 최고의 서비스를 제공해 드릴 것을 약속드립니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_168 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_168 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_168 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_168 IUText IUBox">
                    <p>픽업, 배송 비용에 대해 자세히 알고 싶어요.</p>
                  </div>
                  <div class="Image_168 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_169 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_169 IUText IUBox">
                    <p>픽업, 배송 비용에 대해 자세히 알고 싶어요.</p>
                  </div>
                  <div class="Image_169 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_168 IUCollapsibleContent IUBox">
                <div class="Text_171 IUText IUBox">
                  <p>새로운 물품을 보관할 경우 픽업비용은 무료입니다.</p>
                <p>하지만 기존 보관 물품을 되찾기 위한 &lsquo;배송&rsquo;, 되찾은 물품을 다시 보관하기 위한 &lsquo;재픽업&rsquo; 비용은 박스/물품 개수 당 2,000원의 비용이 발생하게 됩니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_178 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_178 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_178 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_178 IUText IUBox">
                    <p>결제한 박스 수 보다 박스가 부족하거나 남으면 어떻게 하나요?</p>
                  </div>
                  <div class="Image_178 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_179 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_179 IUText IUBox">
                    <p>결제한 박스 수 보다 박스가 부족하거나 남으면 어떻게 하나요?</p>
                  </div>
                  <div class="Image_179 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_178 IUCollapsibleContent IUBox">
                <div class="Text_181 IUText IUBox">
                  <p>방문한 히어박스 매니저에게 말씀해 주세요. 다음과 같이 처리해 드릴 것 입니다.</p>
                <p>&nbsp;</p>
                <p>- 박스가 부족할 경우 : 방문한 히어박스 매니저가 여분의 박스를 추가로 제공</p>
                <p>- 박스가 남는 경우 : 실제 이용하신 박스에 대해서만 비용 지불</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_188 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_188 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_188 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_188 IUText IUBox">
                    <p>환불 가능한가요?</p>
                  </div>
                  <div class="Image_188 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_189 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_189 IUText IUBox">
                    <p>환불 가능한가요?</p>
                  </div>
                  <div class="Image_189 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_188 IUCollapsibleContent IUBox">
                <div class="Text_191 IUText IUBox">
                  <p>물론 가능합니다.</p>
                <p>환불 관련한 모든 문의는 고객센터로 연락해 주시기 바랍니다.</p>
                </div>
              </div>
            </div>
            <div id="Box_203" class="Box_203 IUBox">
              <div id="Text_203" class="Text_203 IUText IUBox">
                <p>포장</p>
              </div>
            </div>
            <div class="Collapsible_198 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_198 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_198 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_198 IUText IUBox">
                    <p>물품을 보관할 박스가 몇 개 필요한지 모르겠어요</p>
                  </div>
                  <div class="Image_198 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_199 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_199 IUText IUBox">
                    <p>물품을 보관할 박스가 몇 개 필요한지 모르겠어요</p>
                  </div>
                  <div class="Image_199 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_198 IUCollapsibleContent IUBox">
                <div class="Text_204 IUText IUBox">
                  <p>히어박스의 박스 크기는 60cm x 40cm x 37cm로 신발 15~25켤레, 옷 40~80벌, 책 60~90권이 들어갈 수 있는 크기입니다.</p>
                <p>박스 크기에 관한 이해를 돕기 위해 영상을 준비했습니다.</p>
                <p>&nbsp;</p>
                <p style="color: #ffc107; cursor: pointer;"><span onclick="$('#boxSize').modal('show')">박스 크기 영상으로 보기 &nbsp; &gt;</span></p>
                </div>
              </div>
            </div>
            <div class="Collapsible_210 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_210 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_210 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_210 IUText IUBox">
                    <p>박스의 보관 중량 제한이 있나요?</p>
                  </div>
                  <div class="Image_210 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_211 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_211 IUText IUBox">
                    <p>박스의 보관 중량 제한이 있나요?</p>
                  </div>
                  <div class="Image_211 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_210 IUCollapsibleContent IUBox">
                <div class="Text_213 IUText IUBox">
                  <p>박스의 적정 하중은 최대 30kg입니다. 이를 초과하지 않게 주의를 기울여 주세요.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_220 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_220 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_220 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_220 IUText IUBox">
                    <p>가지고 있는 박스로 서비스를 이용할 수 있나요?</p>
                  </div>
                  <div class="Image_220 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_221 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_221 IUText IUBox">
                    <p>가지고 있는 박스로 서비스를 이용할 수 있나요?</p>
                  </div>
                  <div class="Image_221 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_220 IUCollapsibleContent IUBox">
                <div class="Text_223 IUText IUBox">
                  <p>네 가능합니다.</p>
                <p>하지만 규격박스 사이즈 60cm x 40cm x 37cm 보다 큰 박스라면 비규격 물품으로 분류됨을 유의하시기 바랍니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_230 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_230 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_230 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_230 IUText IUBox">
                    <p>물품을 포장할 시간을 얼마나 주나요?</p>
                  </div>
                  <div class="Image_230 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_231 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_231 IUText IUBox">
                    <p>물품을 포장할 시간을 얼마나 주나요?</p>
                  </div>
                  <div class="Image_231 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_230 IUCollapsibleContent IUBox">
                <div class="Text_233 IUText IUBox">
                  <p>히어박스 매니저가 고객님께 상자를 전달하고 30분입니다.</p>
                <p>만약 30분 내에 포장이 어려우실 것 같다면 박스를 전달받고 1주 이내에 히어박스 매니저가 재방문하여 물품을 수거해가도록 신청 하실 수도 있습니다.</p>
                <p>재방문 픽업 비용은 별도로 발생하지 않습니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_240 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_240 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_240 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_240 IUText IUBox">
                    <p>포장 서비스도 제공 받을 수 있나요?</p>
                  </div>
                  <div class="Image_240 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_241 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_241 IUText IUBox">
                    <p>포장 서비스도 제공 받을 수 있나요?</p>
                  </div>
                  <div class="Image_241 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_240 IUCollapsibleContent IUBox">
                <div class="Text_243 IUText IUBox">
                  <p>아닙니다.</p>
                <p>현재 히어박스는 현재 물품의 픽업, 보관, 배송 서비스만 제공하고 있으며, 별도의 포장 서비스는 따로 제공하지 않습니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_250 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_250 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_250 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_250 IUText IUBox">
                    <p>포장에 필요한 용품도 제공 하나요?</p>
                  </div>
                  <div class="Image_250 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_251 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_251 IUText IUBox">
                    <p>포장에 필요한 용품도 제공 하나요?</p>
                  </div>
                  <div class="Image_251 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_250 IUCollapsibleContent IUBox">
                <div class="Text_253 IUText IUBox">
                  <p>포장에 필요한 몇 가지 용품을 판매하고 있으며, 보관을 신청하실때 구매하실 수 있습니다.</p>
                <p><br />판매 중인 포장 용품</p>
                <p>1. 포장용 에어캡</p>
                <p>흔히 &lsquo;뽁뽁이&rsquo;라고 불리우며 충격 완화의 효과가 있습니다. 충격에 민감한 물품이 있다면 포장용 에어캡으로 포장해주세요.</p>
                <p>2. 실리카겔</p>
                <p>세계에서 가장 많이 사용되는 방습제로 순수 이산화규소 99.9% 성분으로 이루어진 환경친화적인 물질입니다. 무색, 무취로 방습력이 매우 우수합니다. 습기에 취약한 물품이라면 실리카겔을 넣어 함께 보관해보세요.</p>
                <p>3. 압축팩</p>
                <p>이불, 옷 등을 압축하여 부피를 줄일 수 있어 효과적으로 보관할 수 있습니다.</p>
                <p>4. 테이프</p>
                <p>접착력이 좋은 3M 테이프로 다양하게 활용할 수 있습니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_260 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_260 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_260 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_260 IUText IUBox">
                    <p>비규격 물품을 포장하는 방법이 궁금해요.</p>
                  </div>
                  <div class="Image_260 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_261 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_261 IUText IUBox">
                    <p>비규격 물품을 포장하는 방법이 궁금해요.</p>
                  </div>
                  <div class="Image_261 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_260 IUCollapsibleContent IUBox">
                <div class="Text_263 IUText IUBox">
                  <p>비규격 물품의 경우 1차적으로 고객님께서 안전하게 포장을 하셔야하며, 히어박스는 먼지와 충격을 대비한 최소한의 포장만을 한 후 보관합니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_270 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_270 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_270 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_270 IUText IUBox">
                    <p>박스에 들어간 물품 내역과 사진은 어떻게 확인하나요?</p>
                  </div>
                  <div class="Image_270 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_271 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_271 IUText IUBox">
                    <p>박스에 들어간 물품 내역과 사진은 어떻게 확인하나요?</p>
                  </div>
                  <div class="Image_271 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_270 IUCollapsibleContent IUBox">
                <div class="Text_273 IUText IUBox">
                  <p>물품 픽업 시 히어박스 매니저가 고객님과 함께 보관하는 물품의 사진을 찍고 내역을 작성합니다. 사진과 작성한 내역은 히어박스 페이지를 통해 언제든 확인하실 수 있습니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_280 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_280 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_280 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_280 IUText IUBox">
                    <p>포장 꿀팁을 알려주세요!</p>
                  </div>
                  <div class="Image_280 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_281 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_281 IUText IUBox">
                    <p>포장 꿀팁을 알려주세요!</p>
                  </div>
                  <div class="Image_281 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_280 IUCollapsibleContent IUBox">
                <div class="Text_283 IUText IUBox">
                  <p>1. 함께 이용하는 물품끼리 같은 박스에 보관하세요.</p>
                <p>히어박스를 이용하는 도중 박스를 되찾아 물품을 사용하고, 사용 후 재보관을 하는 경우가 있습니다. 이 경우 바늘과 실처럼 같이 사용해야 하는 물품이 서로 다른 박스에 보관되어 있다면, 박스를 2개 찾고 다시 2개를 맡겨야하기 때문에 매우 비효율적입니다.</p>
                <p>함께 사용하는 물품을 같은 박스에 보관하시면 보다 효율적으로 서비스를 이용하실 수 있습니다.</p>
                <p>예) 특별한 원피스에 맞추어 신는 구두, 우산과 장화 등등</p>
                <p><br />2. 박스 안 공간을 최대한 활용하세요.</p>
                <p>티셔츠, 바지, 타올과 같은 물품은 접지 말고 돌돌 말아 담아주세요. 물품이 구겨지지 않을 뿐만 아니라 공간을 더욱 활용 할 수 있습니다.</p>
                <p>또한 신발, 컵, 모자와 같이 물품 속 빈 공간을 활용하세요. 신발, 컵, 모자와 같이 공간을 지닌 물품은 새로운 보관 박스가 될 수 있습니다. 양말을 신발 안에 넣어 보관한다면, 공간을 활용할 뿐만 아니라 신발의 모양을 잡아주는 효과도 생깁니다!</p>
                </div>
              </div>
            </div>
            <div id="Box_285" class="Box_285 IUBox">
              <div id="Text_285" class="Text_285 IUText IUBox">
                <p>픽업 및 배송</p>
              </div>
            </div>
            <div class="Collapsible_292 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_292 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_292 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_292 IUText IUBox">
                    <p>픽업/배송 신청 절차가 어떻게 되나요?</p>
                  </div>
                  <div class="Image_292 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_293 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_293 IUText IUBox">
                    <p>픽업/배송 신청 절차가 어떻게 되나요?</p>
                  </div>
                  <div class="Image_293 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_292 IUCollapsibleContent IUBox">
                <div class="Text_295 IUText IUBox">
                  <p>히어박스 홈페이지에 로그인을 하신 후, 원하시는 날짜, 장소로 픽업/배송 신청을 해주세요.</p>
                <p>약속된 시간에 문 앞까지 픽업/배송해 드리겠습니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_302 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_302 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_302 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_302 IUText IUBox">
                    <p>픽업/배송 스케줄을 변경할 수 있나요?</p>
                  </div>
                  <div class="Image_302 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_303 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_303 IUText IUBox">
                    <p>픽업/배송 스케줄을 변경할 수 있나요?</p>
                  </div>
                  <div class="Image_303 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_302 IUCollapsibleContent IUBox">
                <div class="Text_305 IUText IUBox">
                  <p>주소를 변경하시는 시점이 예약 잡은 스케줄의 1일 전, 17시 이전이라면 아무런 문제가 없습니다.</p>
                <p>히어박스는 익일 픽업/배송 스케줄을 당일 17시까지 예약된 스케줄을 가지고 잡기 때문에 그 전엔 자유롭게 스케줄을 변경하실 수 있습니다.</p>
                <p>급하게 변경이 필요하신 경우에는 고객센터로 문의해주시기 바랍니다. 이미 짜여진 스케줄로 인해 변경이 어려울 수도 있지만 최대한 조정해보도록 하겠습니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_312 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_312 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_312 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_312 IUText IUBox">
                    <p>예약한 픽업/배송 시간에 히어박스 매니저가 도착하지 않았습니다.</p>
                  </div>
                  <div class="Image_312 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_313 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_313 IUText IUBox">
                    <p>예약한 픽업/배송 시간에 히어박스 매니저가 도착하지 않았습니다.</p>
                  </div>
                  <div class="Image_313 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_312 IUCollapsibleContent IUBox">
                <div class="Text_315 IUText IUBox">
                  <p>먼저 고객님과의 약속을 지키지 못한 점에 대하여 깊은 사과의 말씀을 드립니다.</p>
                <p>만약 히어박스 매니저가 예약된 시간에 도착하지 않았다면 즉시 고객센터로 연락 주시기 바랍니다. 최대한 빠르게 문제를 해결해드리도록 하겠습니다.</p>
                <p><br />고객센터 :&nbsp;1600-2964</p>
                <p>운영시간 : 월요일 ~ 금요일, 10AM ~ 6PM (점심시간 1PM ~ 2PM, 공휴일 휴무)</p>
                <p>카카오톡 : 히어박스</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_322 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_322 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_322 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_322 IUText IUBox">
                    <p>픽업/배송 신청한 시간에 집에 없으면 어떻게 하나요?</p>
                  </div>
                  <div class="Image_322 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_323 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_323 IUText IUBox">
                    <p>픽업/배송 신청한 시간에 집에 없으면 어떻게 하나요?</p>
                  </div>
                  <div class="Image_323 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_322 IUCollapsibleContent IUBox">
                <div class="Text_325 IUText IUBox">
                  <p>예약하신 스케줄을 지키실 수 없을 경우 원활한 서비스 운영을 위해 예약한 날의 2일 전에는 취소를 하신 후 스케줄을 조정해 주세요.</p>
                <p>당일 취소가 필요하실 경우 고객센터로 연락주시기 바랍니다.</p>
                </div>
              </div>
            </div>
            <div class="Collapsible_332 IUCollapsible IUBox" collapsibleEvent="click" unfoldedCollapsible="false" JQueryShowDuration="0.1" JQueryShowAnimation="transition.slideDownIn">
              <div class="CollapsibleHeader_332 IUCollapsibleHeader IUBox">
                <div class="CollapsibleHeaderItem_332 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_332 IUText IUBox">
                    <p>보관 기간 중에 갑자기 물품을 찾을 일이 생겼어요.</p>
                  </div>
                  <div class="Image_332 IUBox">
                  </div>
                </div>
                <div class="CollapsibleHeaderItem_333 IUCollapsibleHeaderItem IUBox">
                  <div class="Text_333 IUText IUBox">
                    <p>보관 기간 중에 갑자기 물품을 찾을 일이 생겼어요.</p>
                  </div>
                  <div class="Image_333 IUBox">
                  </div>
                </div>
              </div>
              <div class="CollapsibleContent_332 IUCollapsibleContent IUBox">
                <div class="Text_335 IUText IUBox">
                  <p>&lsquo;보관 중인 물품&rsquo; 페이지에서 배송을 신청하세요.</p>
                <p>박스/물품 개수 당 2,000원의 배송비가 소요되며, 재보관이 가능하게 신청하시면 배송 받으신 물품을 &nbsp;재보관하실 때 보관비가 추가로 발생하지 않습니다.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    {% include "dialog_box_size.html" %}
    {% include "dialog_request.html" %}
{% endblock %}
{% block jscript %}
    <script type="text/javascript" src="{{ url_for('static', filename='resource/js/iuproj.js') }}"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resource/common/plugin/jquery.event.swipe.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resource/common/plugin/jquery.event.move.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resource/common/plugin/jquery.scrollto.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resource/common/iujs/iuframe.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resource/common/iujs/iuevent.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resource/common/iujs/iuboxes.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resource/common/iujs/iucarousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resource/common/iujs/iugooglemap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resource/common/iujs/iu.js') }}"></script>
{% endblock %}