{% extends "mobile/base.html" %}
{% block content %}

    <div class="container section main-index">
        <h1>당신의 공간을 더 넓게</h1>
        <p>원하는 시간에 픽업하여 보관하고 필요할 때 다시 배송해드립니다</p>

        <button class="btn btn-hb" onclick="location.href='/reservation/estimate'" style="font-family: 'Nanum Barun Gothic Bold', 'sans-serif'; font-size: 10px; padding: 6px 22px 7px 22px;">지금 예약하기</button>
    </div>

    <div class="container section main-easy">
        <h1>정말로 간편한 이용</h1>
        <p>보관 과정의 불편함은 해결하고 편의만을 제공합니다</p>

        <div class="row" style="margin-top: 40px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/m-icon-book.png') }}">
            </div>
            <div class="col-xs-6" style="text-align: left;">
                <h2>1. 간편한 신청</h2>
                <p>PC와 모바일 어디서든 몇번의 클릭만으로 쉽게 픽업 신청하세요</p>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/m-icon-pickup.png') }}">
            </div>
            <div class="col-xs-6" style="text-align: left;">
                <h2>2. 픽업맨 방문</h2>
                <p>원하는 날짜와 시간에 픽업맨이 방문하여 보관할 물건을 수거합니다</p>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/m-icon-store.png') }}">
            </div>
            <div class="col-xs-6" style="text-align: left;">
                <h2>3. 최적의 환경에서 보관</h2>
                <p>온습도 관리 시설을 갖춘 히어박스 창고에서 안전하게 보관합니다</p>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/m-icon-deliv.png') }}">
            </div>
            <div class="col-xs-6" style="text-align: left;">
                <h2>4. 친절한 배송</h2>
                <p>언제든 다시 필요할 때 회수 신청을 하면 배송해드립니다</p>
            </div>
        </div>
    </div>

    <div class="container-fluid section main-reason">
        <div>
            <h1>필요한 만큼만 합리적인 가격으로</h1>
            <p>물품수거를 위해 방문하는 픽업 비용은 무료입니다</p>
        </div>

        <div class="reason-items">
            <div class="item">
                <img src="{{ url_for('static', filename='assets/img/img-box.png') }}">
                <h2>규격박스</h2>
                <p>
                    튼튼한 플라스틱 박스로 안전합니다.
                    <br>
                    가로 60cm x 세로 40cm x 높이 37cm
                    <br>
                    최대 무게 25kg
                    <br><br>
                    <a style="color: #ffa000; cursor: pointer;" data-toggle="modal" data-target="#boxSize">박스 크기 영상으로 보기 ></a>
                </p>

                <p class="price">
                    7,500원 / 월
                </p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='assets/img/img-un.png') }}">
                <h2>비규격 물품</h2>
                <p>
                    박스에 들어가지않는 큰 물건도 걱정마세요
                    <br>
                    자전거, 캐리어, 골프백, 스키 등 한 명이 옮길
                    수 있는 물품이라면 가능합니다
                </p>

                <br><br>

                <p class="price">
                    9,900원 / 월
                </p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='assets/img/img-biz.png') }}">
                <h2>기업 및 이사고객</h2>
                <p>
                    회사 물품이나 이삿짐을 대량 보관하시나요?
                    별도문의를 통해 최적의 견적을 받아보세요
                    히어박스가 친절히 상담해드립니다
                </p>

                <br><br>

                <p class="price">
                    별도 문의
                </p>
            </div>
        </div>

        <div>
            <button class="btn btn-hbprimary" onclick="location.href='/reservation/estimate'" style="font-family: 'Nanum Barun Gothic Bold', 'sans-serif';">실시간 견적 보기</button>
        </div>
    </div>

    <div class="container section main-available">
        <div class="row" style="margin: 0;">
            <h1>서비스 지역</h1>
            <p>현재 서울시 전 지역 및 경기도 일부 지역(문의) 서비스 가능합니다</p>
            <div class="try" data-toggle="modal" data-target="#requestArea">우리 동네 신청하기 ></div>
        </div>

        <img src="{{ url_for('static', filename='assets/img/m-img-seoul.png') }}">
    </div>

    <div class="container-fluid section main-feature">
        <div class="row">
            <h1>최적의 환경을 갖춘 보관 시설</h1>
            <p>걱정하지 마세요. 히어박스가 안전하게 보관합니다</p>
        </div>

        <div class="row" style="margin: 0;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/m-icon-cctv.png') }}">
                <h2>CCTV 작동</h2>
                <p>365일 24시간 CCTV가 작동하여 안전합니다</p>
            </div>
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/m-icon-tem.png') }}">
                <h2>온습도 조절</h2>
                <p>창고 내부를 최적의 온습도로 조절하여 유지합니다</p>
            </div>
        </div>

        <div class="row" style="margin: 0;">
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/m-icon-ins.png') }}">
                <h2>책임보상 제도</h2>
                <p>보관하신 물품은 책임보상 제도에 따라 보상받으실 수 있습니다</p>
            </div>
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='assets/img/m-icon-mobi.png') }}">
                <h2>보관 물품 확인</h2>
                <p>보관 중인 물품을 사진과 함께 확인할 수 있습니다</p>
            </div>
        </div>
    </div>

    <div class="container-fluid section main-review">
        <div class="row">
            <h1>고객분들의 생생한 이용후기</h1>
            <p>더 많은 이용후기는 히어박스 블로그에서 확인하실 수 있습니다</p>
        </div>

        <div class="review">
            <div class="item">
                <img src="{{ url_for('static', filename='assets/img/3.png') }}"><br>
                <p>개인적인 사정으로 인해 스케줄을 변경했음에도 친절하게 응대해주셔서 감사했습니다. 옷장 속 공간을 많이 차지하는 겨울옷을 주로 맡겼는데 방문 수거해주시니 편리했어요. 맡기고 나니 옷장도 한결 여유로워져서 좋고요.
겨울까지 잘 부탁드립니다. 화이팅!<br>
- jih********@hotmail.com</p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='assets/img/4.png') }}"><br>
                <p>이사를 앞두고 짐을 정리하면서 추억이 깃든 앨범, 책, 옷 등을 많이 보관하게 됐어요. 상자가 얼마나 필요할지 감이 잘 안왔는데 넉넉하게 가져와주시고, 이용한 만큼만 결제하는 게 좋았습니다. 그리고 옷이 담긴 상자를 먼저 걱정해주시면서 이것저것 체크해주시는 모습에 믿음이 갔습니다.<br>
- sue*****@naver.com</p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='assets/img/1.png') }}"><br>
                <p>피규어를 자취방에 다 가지고 있으면 좋겠지만 방이 너무 좁아 곤란했었어요.
인테리어용으로 놓은 것들 빼고는 모두 히어박스에 맡겼는데 넓은 집으로 이사 가게 되거나 전시해 놓은거 바꿀 때 찾으려고요. 한 달 7,500원으로 집 안은 깔끔해지고 피규어는 언제든 쉽게 찾을 수 있으니 너무 좋네요.<br>
- kim*****@naver.com</p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='assets/img/2.png') }}"><br>
                <p>저는 카페, 백화점 등에서 상품을 판매하고 있습니다.
매번 스토어 설치와 철수할 때면 용달 비용과 판매 상품 보관이 문제였는데 히어박스를 이용하여 모두 쉽게 해결할 수 있었습니다. 왜 이제야 출시했는지!<br>
- han****@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="container section main-try">
        <div class="try">
            <button class="btn btn-hbprimary" onclick="location.href='/reservation/estimate'" style="font-family: 'Nanum Barun Gothic Bold', 'sans-serif';">지금 예약하기</button>
            <p>이제 자주 사용하지 않는 물품은<br>히어박스에 맡기고 공간을 더 넓게 사용하세요!</p>
        </div>
    </div>

    {% include "dialog_box_size.html" %}
    {% include "dialog_request.html" %}
    {% include "dialog_event2.html" %}
{% endblock %}
{% block jscript %}

    <script src="{{ url_for('static', filename='libs/jquery-form/jquery.form.js') }}"></script>
    {% assets "introduce_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}