{% extends "admin_base.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='libs/morris.js/less/morris.core.less') }}" rel="stylesheet">

{% endblock %}
{% block content %}

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>페이스북아이디</th>
                        <th>연락처</th>
                        <th>주소</th>
                        <th>상세주소</th>
                        <th>가입일</th>
                    </tr>
                </thead>
                <tbody>
                     {% for item in pagination.items %}
                     <tr>
                        <td>{{ item.uid }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email or '' }}</td>
                        <td>{{ item.fb_user_id or '' }}</td>
                        <td>{{ item.phone or '' }}</td>
                        <td>{{ item.address1 or '' }}</td>
                        <td>{{ item.address2 or '' }}</td>
                        <td>{{ item.created_at }}</td>
                    </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>

        <nav class="text-center">
            {% from "admin_pagination.html" import render_pagination %}
            {{ render_pagination(pagination, 'admin.admin_users') }}
        </nav>
    </div>

{% endblock %}