{% extends "admin_base.html" %}
{% block content %}

    <div style="margin-left: auto; margin-right: auto;">
        <form method="post">
            <div class="form-group col-lg-6">
                <label>관리번호</label>
                <input id="inputGoodsId" class="form-control" value="{{ goods_detail.goods_id }}" disabled>
            </div>
            <div class="form-group col-lg-6">
                <label>물품종류</label>
                <select class="form-control" name="goods_type">
                    <option value="0" {{ 'selected' if goods_detail.goods_id.startswith('A') else '' }}>규격</option>
                    <option value="1" {{ 'selected' if goods_detail.goods_id.startswith('B') else '' }}>비규격</option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label>상태</label>
                <select class="form-control" name="status">
                    <option value="0" {{ 'selected' if goods_detail.status == 0 else '' }}>활성화</option>
                    <option value="1" {{ 'selected' if goods_detail.status == 1 else '' }}>만료됨</option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label>보관여부</label>
                <select class="form-control" name="in_store">
                    <option value="0" {{ 'selected' if goods_detail.status == 0 else '' }}>보관중</option>
                    <option value="1" {{ 'selected' if goods_detail.status == 1 else '' }}>보관중이지 않음</option>
                </select>
            </div>
            <div class="form-group col-lg-12">
                <label>이름</label>
                <input class="form-control" name="name" value="{{ goods_detail.name or '' }}">
            </div>
            <div class="form-group col-lg-12">
                <label>메모</label>
                <input class="form-control" name="memo" value="{{ goods_detail.memo or '' }}">
            </div>
            <div class="form-group col-lg-6">
                <label>시작일</label>
                <input class="form-control" name="started_at" value="{{ goods_detail.started_at }}">
            </div>
            <div class="form-group col-lg-6">
                <label>만료일</label>
                <input class="form-control" name="expired_at" value="{{ goods_detail.expired_at }}" placeholder="YYYY-mm-dd">
            </div>
            <div class="form-group col-lg-12">
                <p><b>사진</b></p>
                <div style="display: inline-block;">
                    {% if goods_detail.photo %}
                        <a href="http://static.herebox.kr/{{ goods_detail.photo }}" target="_blank">
                            <img src="http://static.herebox.kr/{{ goods_detail.photo }}" style="width: 100px;">
                        </a>
                    {% else %}
                        <img src="{{ url_for('static', filename='assets/img/img-box.png') }}" style="width: 100px;">
                    {% endif %}
                </div>
                <button id="btnChangePhoto" type="button" class="btn btn-xs btn-default">사진 변경</button>
                <img id="ajaxLoader" src="{{ url_for('static', filename='assets/img/ajax-loader.gif') }}" style="text-align: center; visibility: hidden"/>
                <input id="goods_photo" type="file" style="display: inline-block;">
            </div>
            {% if goods_detail.goods_id.startswith('A') %}
            <div class="form-group col-lg-12">
                <label>박스번호</label>
                <input class="form-control" value="{{ goods_detail.box.box_id }}" disabled>
            </div>
            {% endif %}

            <div class="form-group">
                <button id="btnExpire" type="button" class="btn btn-danger">만료</button>
                <button type="submit" class="btn btn-warning">변경</button>
            </div>
        </form>
    </div>

{% endblock %}
{% block jscript %}
    <script>
        $(document).ready(function() {
            $('#btnExpire').click(function() {
                if (confirm('만료처리하시겠습니까?')) {
                    $.ajax({
                         type: "DELETE",
                         url: window.location.pathname,
                         success: function () {
                            alert('만료처리되었습니다.');
                             location.href='/admin/goods_list/1';
                         },
                         error: function(request, status, error) {
                            var parsedBody = $.parseJSON(request.responseText);
                            alert(parsedBody['message']);
                         }
                    });
                }
            });

            $("#btnChangePhoto").click(function() {
                var attachedFile = $('#goods_photo')[0].files[0];
                if (!attachedFile) {
                    alert("변경하려는 파일을 먼저 선택해주세요.");
                    return ;
                }
                $('#ajaxLoader').css({ visibility: 'visible' });
                $('#btnChangePhoto').css({ visibility: 'hidden' });
                var formData = new FormData();
                formData.append('goods_photo', attachedFile);

                $.ajax({
                     type: "POST",
                     url: window.location.pathname,
                     data: formData,
                     processData: false,
                     contentType: false,
                     success: function () {
                        alert('변경되었습니다.');
                        location.reload();
                     },
                     error: function(request, status, error) {
                        $('#ajaxLoader').css({ visibility: 'hidden' });
                        $('#btnChangePhoto').css({ visibility: 'visible' });
                        var parsedBody = $.parseJSON(request.responseText);
                        alert(parsedBody['message']);
                     }
                });
            });
        });

    </script>
{% endblock %}