<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>히어박스 어드민</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='libs/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='assets/css/sb-admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='libs/components-font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}
</head>

<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">히어박스 어드민</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ current_user.name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/"><i class="fa fa-fw fa-rocket"></i>히어박스</a>
                        </li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>로그아웃</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> 대시보드</a>
                    </li>
                    <li>
                        <a href="/admin/users/1"><i class="fa fa-fw fa-users"></i> 회원정보</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#order"><i class="fa fa-fw fa-table"></i> 주문확인<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="order" class="collapse">
                            <li>
                                <a href="/admin/new_reservations/1">신규픽업</a>
                            </li>
                            <li>
                                <a href="/admin/restore_reservations/1">재보관</a>
                            </li>
                            <li>
                                <a href="/admin/delivery_reservations/1">배송</a>
                            </li>
                            <li>
                                <a href="/admin/extend-periods/1">기간연장</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/schedules/1"><i class="fa fa-fw fa-calendar"></i> 스케줄</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#warehouse"><i class="fa fa-fw fa-cubes"></i> 창고관리<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="warehouse" class="collapse">
                            <li>
                                <a href="/admin/goods_list/1">물품조회</a>
                            </li>
                            <li>
                                <a href="/admin/boxes/1">박스현황</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#history"><i class="fa fa-fw fa-history"></i> 히스토리<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="history" class="collapse">
                            <li>
                                <a href="/admin/purchases/1">구매 히스토리</a>
                            </li>
                            <li>
                                <a href="/admin/old_reservations/1">지난 주문</a>
                            </li>
                            <li>
                                <a href="/admin/old_schedules/1">지난 스케줄</a>
                            </li>
                            <li>
                                <a href="/admin/old-extend-periods/1">기간연장 히스토리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{ page_title }}
                            <small>{{ page_subtitle }}</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                {% block content %}{% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="{{ url_for('static', filename='libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/ie10-viewport-bug-workaround.js') }}"></script>
    {% block jscript %}{% endblock %}
</body>

</html>
