{% extends "admin_base.html" %}
{% block content %}

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>스케줄번호</th>
                        <th>주문번호</th>
                        <th>방문일짜</th>
                        <th>방문시간</th>
                        <th>스케줄상태</th>
                        <th>대상회원</th>
                    </tr>
                </thead>
                <tbody>
                     {% for item in pagination.items %}
                     <tr>
                        <td>{{ item.id }}</td>
                        <td><a href="/admin/schedule/{{ item.schedule_id }}">{{ item.schedule_id }}</a></td>
                        <td><a href="/admin/reservation/{{ item.reservation.reservation_id }}">{{ item.reservation.reservation_id }}</a></td>
                        <td>{{ item.schedule_date }}</td>
                        <td>{{ item.schedule_time }}</td>
                        <td>
                            {{ '완료' if item.status == 1 }}
                            {{ '취소' if item.status == 2 }}
                        </td>
                        <td><a href="/admin/user/{{ item.customer[0].uid }}" target="_blank">{{ item.customer[0].name }}</a></td>
                    </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>

        {% include "admin_search.html" %}
        <nav class="text-center">
            {% from "admin_pagination.html" import render_pagination %}
            {{ render_pagination(pagination, 'admin.old_schedules') }}
        </nav>
    </div>

{% endblock %}
{% block jscript %}
    <script>
        function search() {
            var keyword = $("#searchKeyword").val();
            location.href = "/admin/schedule/" + keyword + "/1?status=old";
        }
        $("#btnSearch").click(search);
        $("#searchKeyword").keyup(function(e) {
            if (e.keyCode == 13) {
                search();
            }
        });
    </script>
{% endblock %}