{% extends "admin_base.html" %}
{% block content %}

    <div style="margin-left: auto; margin-right: auto;">
        <form method="post">
            <div class="form-group col-lg-6">
                <label>스케줄번호</label>
                <input id="inputScheduleId" class="form-control" value="{{ schedule_detail.schedule_id }}" disabled>
            </div>
            <div class="form-group col-lg-6">
                <label>스케줄종류</label>
                <select class="form-control" name="schedule_type" disabled>
                    <option value="0" {{ 'selected' if schedule_detail.schedule_type == 0 else '' }}>신규픽업</option>
                    <option value="1" {{ 'selected' if schedule_detail.schedule_type == 1 else '' }}>신규픽업(재방문)</option>
                    <option value="2" {{ 'selected' if schedule_detail.schedule_type == 2 else '' }}>배송</option>
                    <option value="3" {{ 'selected' if schedule_detail.schedule_type == 3 else '' }}>재보관</option>
                    <option value="4" {{ 'selected' if schedule_detail.schedule_type == 4 else '' }}>재보관(재방문)</option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label>상태</label>
                <select class="form-control" name="status" disabled>
                    <option value="0" {{ 'selected' if schedule_detail.status == 0 else '' }}>대기</option>
                    <option value="1" {{ 'selected' if schedule_detail.status == 1 else '' }}>완료</option>
                    <option value="2" {{ 'selected' if schedule_detail.status == 2 else '' }}>취소</option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label>주문번호</label>
                <input class="form-control" value="{{ schedule_detail.reservation.reservation_id }}" disabled>
            </div>
            <div class="form-group col-lg-6">
                <label>방문일자</label>
                <input class="form-control" name="visit_date" value="{{ schedule_detail.schedule_date }}">
            </div>
            <div class="form-group col-lg-6">
                <label>방문시간</label>
                <input class="form-control" value="{{ schedule_detail.parsed_schedule_time }}" disabled>
            </div>
            <div class="form-group col-lg-6">
                <label>대상회원</label>
                <input class="form-control" value="{{ schedule_detail.customer[0].name }}" disabled>
            </div>
            <div class="form-group col-lg-6">
                <label>담당직원</label>
                <input class="form-control" value="{{ schedule_detail.staff[0].name }}" disabled>
            </div>
            <div class="col-lg-12" style="margin-bottom: 30px;">
                <p><b>추가된 물품</b></p>
                {% for goods in schedule_detail.reservation.goods %}
                    {% if goods.photo %}
                        <a href="/admin/goods/{{ goods.goods_id }}" target="_blank"><img src="http://static.herebox.kr/{{ goods.photo }}" style="width: 100px;"></a>
                    {% else %}
                        <a href="/admin/goods/{{ goods.goods_id }}" target="_blank"><img src="{{ url_for('static', filename='assets/img/img-box.png') }}" style="width: 100px;"></a>
                    {% endif %}
                {% endfor %}
                {% if schedule_detail.reservation.goods | length == 0 %}
                    물품없음
                {% endif %}
            </div>

            <div class="form-group col-lg-12">
                {% if schedule_detail.status == 0 %}
                    {% if register_goods_popup %}<button id="btnAddGoods" type="button" class="btn btn-default">물품추가</button>{% endif %}
                    <button id="btnComplete" type="button" class="btn btn-primary">완료</button>
                {% endif %}
                <button type="submit" class="btn btn-warning">변경</button>
                {% if schedule_detail.status == 0 %}
                    <button id="btnCancel" type="button" class="btn btn-danger">취소</button>
                {% endif %}
            </div>
        </form>
    </div>

    {% if register_goods_popup %}
        {% include "admin_dialog_new_goods.html" %}
    {% endif %}
{% endblock %}
{% block jscript %}

    <script>
        $.fn.exists = function () {
            return this.length !== 0;
        };

        $(document).ready(function() {
            if ($('#registerGoods').exists()) {
                $('#btnRegisterGoods').click(addGoods);
                $('#btnAddGoods').click(function() {
                    $('#registerGoods').modal('show');
                });
            }

            $('#btnComplete').click(function() {
                if (confirm('이 스케줄을 완료시키겠습니까?')) {
                    completeSchedule();
                }
            });

            $('#btnCancel').click(function() {
                if (confirm('이 스케줄을 취소시키겠습니까?')) {
                    cancelSchedule();
                }
            });
        });

        function addGoods() {
            $('#ajaxLoader').css({ visibility: 'visible' });
            $('#frmAddNewGoods').css({ visibility: 'hidden' });
            var formData = new FormData();
            formData.append('schedule_id', $('#inputScheduleId').val());
            formData.append('goods_type', $('#goods_type').val());
            formData.append('name', $('#goods_name').val());
            formData.append('box_id', $('#goods_box_id').val());
            formData.append('memo', $('#goods_memo').val());
            formData.append('started_at', $('#goods_started_at').val());
            formData.append('goods_photo', $('#goods_photo')[0].files[0]);

            $.ajax({
                 type: "POST",
                 url: "/admin/schedule/register/goods",
                 data: formData,
                 processData: false,
                 contentType: false,
                 success: function () {
                    alert('추가되었습니다.');
                    location.reload();
                 },
                 error: function(request, status, error) {
                    $('#ajaxLoader').css({ visibility: 'hidden' });
                    $('#frmAddNewGoods').css({ visibility: 'visible' });
                    var parsedBody = $.parseJSON(request.responseText);
                    alert(parsedBody['message']);
                 }
            });
        }

        function completeSchedule() {
            $.ajax({
                 type: "POST",
                 url: "/admin/schedule/complete",
                 data: {schedule_id: $('#inputScheduleId').val()},
                 success: function () {
                    alert('완료되었습니다.');
                     location.reload();
                 },
                 error: function(request, status, error) {
                    var parsedBody = $.parseJSON(request.responseText);
                    alert(parsedBody['message']);
                 }
            });
        }

        function cancelSchedule() {
            $.ajax({
                 type: "DELETE",
                 url: window.location.pathname,
                 success: function () {
                    alert('취소시켰습니다.');
                     location.href='/admin/schedules/1';
                 },
                 error: function(request, status, error) {
                    var parsedBody = $.parseJSON(request.responseText);
                    alert(parsedBody['message']);
                 }
            });
        }

    </script>

{% endblock %}