{% extends "admin_base.html" %}
{% block content %}

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>페이스북아이디</th>
                        <th>연락처</th>
                        <th>주소</th>
                        <th>상세주소</th>
                        <th>가입일</th>
                    </tr>
                </thead>
                <tbody>
                     {% for item in pagination.items %}
                     <tr>
                        <td><a href="/admin/user/{{ item.uid }}">{{ item.uid }}</a></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email or '' }}</td>
                        <td>{% if item.fb_user_id %}<a href="http://facebook.com/{{ item.fb_user_id }}" target="_blank">{{ item.fb_user_id }}</a>{% endif %}</td>
                        <td>{{ item.phone or '' }}</td>
                        <td>{{ item.address1 or '' }}</td>
                        <td>{{ item.address2 or '' }}</td>
                        <td>{{ item.created_at }}</td>
                    </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>

        {% include "admin_search.html" %}
        <nav class="text-center">
            {% from "admin_pagination.html" import render_pagination %}
            {{ render_pagination(pagination, 'admin.admin_users') }}
        </nav>

    </div>

{% endblock %}
{% block jscript %}
    <script>
        $("#btnSearch").click(function() {
            var keyword = $("#searchKeyword").val();
            location.href = "/admin/users/" + keyword + "/1";
        });
    </script>
{% endblock %}