{% extends "admin_base.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='libs/morris.js/less/morris.core.less') }}" rel="stylesheet">

{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ user_join_today }}</div>
                            <div>새로운 회원 수</div>
                        </div>
                    </div>
                </div>
                <a href="/admin/users/1">
                    <div class="panel-footer">
                        <span class="pull-left">자세히 보기</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ used_box_today }}</div>
                            <div>사용중인 박스 수</div>
                        </div>
                    </div>
                </div>
                <a href="/admin/boxes/1">
                    <div class="panel-footer">
                        <span class="pull-left">자세히 보기</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ reservations_today }}</div>
                            <div>새로운 주문 수</div>
                        </div>
                    </div>
                </div>
                <a href="/admin/new_reservations/1">
                    <div class="panel-footer">
                        <span class="pull-left">자세히 보기</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ goods_expired_today }}</div>
                            <div>만료를 기다리는 물품 수</div>
                        </div>
                    </div>
                </div>
                <a href="/admin/goods_list/1?status=must_be_expired">
                    <div class="panel-footer">
                        <span class="pull-left">자세히 보기</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> 주간별 주문 수</h3>
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block jscript %}
    <script src="{{ url_for('static', filename='libs/raphael/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/morris.js/morris.min.js') }}"></script>
    <script>
    $(function() {
        Morris.Area({
          element: 'morris-area-chart',
          data: {{ reservation_statistics | safe }},
          xkey: 'x',
          ykeys: ['y'],
          labels: ['주문 수'],
          parseTime: false
        });
    });
    </script>
{% endblock %}