{% extends "admin_base.html" %}
{% block content %}

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>박스번호</th>
                        <th>사용중</th>
                        <th>보관중</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody>
                     {% for item in pagination.items %}
                     <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.box_id }}</td>
                        <td>
                            {{ 'N' if item.status == 0 }}
                            {{ 'Y' if item.status == 1 }}
                        </td>
                        <td>
                            {{ 'Y' if item.in_store == 0 }}
                            {{ 'N' if item.in_store == 1 }}
                        </td>
                        <td>{{ item.created_at }}</td>
                     </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>

        {% include "admin_search.html" %}
        <nav class="text-center">
            {% from "admin_pagination.html" import render_pagination %}
            {{ render_pagination(pagination, 'admin.boxes') }}
        </nav>
    </div>

{% endblock %}
{% block jscript %}
    <script>
        function search() {
            var keyword = $("#searchKeyword").val();
            location.href = "/admin/box/" + keyword + "/1";
        }
        $("#btnSearch").click(search);
        $("#searchKeyword").keyup(function(e) {
            if (e.keyCode == 13) {
                search();
            }
        });
    </script>
{% endblock %}